﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>Login</title>
    <style>
        body {
            background: linear-gradient(to right, bisque,rgb(155, 144, 103));
        }
        .carouselCustom {
            /* opacity: 0.9;*/
        }
        .menuCustom {
            background: linear-gradient(to right, gray,black, gray);
            margin-bottom: 0;
        }
        #divCarousel {
            position: absolute;
            width: 100%;
            bottom: 0; 
        }
    </style>
</head>
<body>
 
<div>
    <ul class="nav justify-content-center menuCustom">
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Register", "Home")">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Login", "Home")">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Contact", "Home")">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("About", "Home")">About</a>
        </li>
    </ul>
</div>
<div>
    @RenderBody()
</div>
<div id="divCarousel">
    <div id="carouselExampleControls" class="carousel slide carouselCustom " data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/img/carou1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/img/carou2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/img/carou3.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>
