﻿@using Elearning.Models
@model IQueryable<Etudiant>




@{
    ViewBag.title = "Gestion Student";
    Layout = "~/Views/Shared/_LayoutGestionnaire.cshtml";
    Etudiant s = new Etudiant();
    if(Request.Form["edit"] == "Edit" && (Request.Form["idetudiant"] != ""))
    { s = ViewBag.student;}
}


  
    <style>
        .gestion {
            width: 100%;
        }
         .studentWebReg {
            

         }
    </style>


<h3>Gestion des Etudiant</h3>

<!--- -->
<div class="container">
    <div class="row">
        <div class="col">
           
            <div>
                <h4>Gestion d'information sur Etudiant</h4>
                <form method="post">
                    <table>
                        <tr>
                            <td>Id</td>
                            <td>
                                <select name="idetudiant">
                                    @if (!IsPost || (Request.Form["annuler"] == "Annuler") || (Request.Form["idetudiant"]=="") )
                                    {
                                        <option value=""></option>
                                        foreach (Etudiant stud in Model)
                                        {
                                            <option value="@stud.Idetudiant">@stud.Idetudiant</option>
                                        }
                                    }
                                    else if ( Request.Form["edit"] == "Edit")
                                    {
                                        <option value="@s.Idetudiant">@s.Idetudiant</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        @{
                            if ( Request.Form["edit"] == "Edit" && Request.Form["idetudiant"] != "")
                            {


                                <tr><td>Prenom</td><td><input type="text" value="@s.prenom" /></td></tr>
                                <tr><td>Nom </td><td><input type="text" value="@s.nom" /></td></tr>
                                <tr><td>email </td><td><input type="text" value="@s.email" /></td></tr>
                                <tr><td>Uname </td><td><input type="text" value="@s.uname" /></td></tr>
                                <tr><td>Pwd </td><td><input type="text" value="@s.pwd" /></td></tr>
                                <tr><td>Tel </td><td><input type="text" value="@s.telephone" /></td></tr>
                                <tr><td>Webreg </td><td><input type="text" value="@s.webregister" /></td></tr>

                            }
                            else if (!IsPost || Request.Form["annuler"] == "Annuler" || Request.Form["idetudiant"] == "")
                            {
                                <tr><td>Prenom</td><td><input type="text" value="" /></td></tr>
                                <tr><td>Nom </td><td><input type="text" value="" /></td></tr>
                                <tr><td>email </td><td><input type="text" value="" /></td></tr>
                                <tr><td>Uname </td><td><input type="text" value="" /></td></tr>
                                <tr><td>Pwd </td><td><input type="text" value="" /></td></tr>
                                <tr><td>Tel </td><td><input type="text" value="" /></td></tr>
                                <tr><td>Webreg </td><td><input type="text" value="" /></td></tr>
                            }

                        }
                        <tr><td><input type="submit" name="edit" value="Edit" /> </td><td><input type="submit" name="valider" value="Valider" /></td></tr>
                        <tr><td><input type="submit" name="supprimer" value="Supprimer" /> </td><td><input type="submit" name="annuler" value="Annuler" /></td></tr>
                    </table>


                </form>

            </div>

        </div>
        <div class="col">
            <h4>Recherche d'Etudiant</h4>
            

        </div>
    </div>
 
</div>
<!------>


            

