﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/index.css" rel="stylesheet" />
<div class="jumbotron jumboCustom">
    <h1>Elearning</h1>
    <p class="lead">Bienvenue sur le site Elearning  et découvrez vos rêves qui façonneront votre avenir.</p>
    <p><a href="@Url.Action("Register", "Home")" class="btn btn-primary btn-lg">Register Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <b> <i>Elearning</i> </b> est le site d'apprentissage le plus célèbre où vous pouvez réserver des cours et apprendre à votre aise.
            Il y a plusieurs cours qui peuvent compléter techniques et non techniques.
            Ces cours sont conçus de sorte que vous pouvez interagir avec le tuteur du cours et ils sont adaptés avec des quiz, des exercices et des laboratoires pour répondre à la demande de l'industrie.
            Réservez un cours aujourd'hui ...
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Home")">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login and Discover</h2>
        <p>  Si vous êtes pas encore étudiant Inscrivez-vous au cours dès aujourd'hui et profitez au maximum de nos nouveaux cours qui sont ajoutés quotidiennement.</p>
        <p><a class="btn btn-default"  href="@Url.Action("Login", "Home")">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <img class="indexpic1" src="~/img/indexpic1.jpg" alt="Student image"/>
    </div>
</div>