﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutBootStrap.cshtml";
}

<style>
    

</style>
<script>
  

</script>
<h2>Login Form</h2>

<div id="loginFormdiv" >
    <form method="Post">
        <table>
           
            <tr><td><label for="uname">Username </label></td><td><input type="text" name="uname" class="uname" id="uname"/></td></tr>
            <tr><td><label for="pwd">Password</label></td><td><input type="password" name="pwd" class="pwd" id="pwd"/></td></tr>
            <tr><td><input type="checkbox" name="chkbox" class="chkbox" value="check"/>Not Student</td><td>
                <select name="other">
                    <option value=""></option>
                    <option value="Enseignant">Enseignant</option>
                    <option value="Gestionnaire">Gestionnaire</option>
                </select>
            </td></tr>
            <tr><td></td><td><input type="submit" name="submit" value="Login"/></td></tr>
        </table>

    </form>


</div>
