﻿@using System.Web.UI.WebControls

@model Elearning.Models.tempEtudiant

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutBootStrap.cshtml";
}

<style>
    .formRegisterCustom {
        width: 40%;
        margin: 1% auto;
    }

    #registerFormdiv {
      /* background: rgba(135, 104, 104, 0.5);*/
        margin: auto;
        width: 100%;
        color: black;
        font-weight: 900;
        
    }

    .fc {
        background: rgba(255,255,255,0.3);
        color: blue;
        font-weight: 900;
    }
    .p {
        text-align: center;
    }
    #registerTable {
        width: 100%;
        margin: 2%;
    }
   #registerTable>tr:first-child {
       width: 30%;
   }
    .registerBtnSubmit {
        margin:5% 20%;
        background: bisque;
    }
    .registerBtnSubmit:hover {
        background: gold;
        transform: scale(1.1);
        transition: all ease-in-out 0.8s;
    }   
    #registerpage {
       
        }
    .error {
        color: red;
    }
   
</style>
<div id="registerpage">
    <div class="formRegisterCustom">
        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
        {
       
            <table id="registerTable">

                <h4 class="p">Registration Form</h4>

                <tr><td>@Html.LabelFor(x => x.Prenom)</td><td>@Html.TextBoxFor(x => x.Prenom, new {PlaceHolder = "...", @class = "fc"})</td><td>@Html.ValidationMessageFor(m => m.Prenom, "", new {@class = "error"})</td></tr>
                <tr><td>@Html.LabelFor(x => x.Nom)</td><td>@Html.TextBoxFor(x => x.Nom, new {PlaceHolder = "...", @class = "fc"})</td><td>@Html.ValidationMessageFor(m => m.Nom, "", new {@class = "error"})</td></tr>
                <tr><td>@Html.LabelFor(x => x.Email)</td><td>@Html.TextBoxFor(x => x.Email, new {PlaceHolder = "...", @class = "fc"})</td><td>@Html.ValidationMessageFor(m => m.Email, "", new {@class = "error"})</td></tr>
                <tr><td>@Html.LabelFor(x => x.Telephone)</td><td>@Html.TextBoxFor(x => x.Telephone, new {PlaceHolder = "...", @class = "fc"})</td><td>@Html.ValidationMessageFor(m => m.Telephone, "", new {@class = "error"})</td></tr>
                <tr><td></td><td><input type="submit" name="registerBtnSubmit" class="registerBtnSubmit" value="Submit"></td></tr>
            </table>


       
        }
    </div>
    
 
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")