﻿
@{
    ViewBag.Title = "RegisterConfirm";
    Layout = "~/Views/Shared/_LayoutBootStrap.cshtml";
}

<h2>RegisterConfirm</h2>

<p>Afin de se logger sur le site Elearning veillez confirmer votre
    <a href="mailto:@ViewBag.email?body=The%20password%20of%20your%20elearning%20account:%20@ViewBag.pwd">couriel.</a>Le mot de passe va etre envoyer.</p>
<p>Cliquez sur ce lien ci pour se logger,<i> <a href="@Url.Action("Login", "Home")">  Elearning Login</a></i> </p>